.menu_element { 
    border-radius: 2px;
    font-size: large;
    transition: box-shadow 0.3s ease;/* Sombra al pasar */
    padding: 2px;
    color: lightgray;
}
.menu_element:hover {
    font-weight: bold;
    background-color: lightgray;
    color: black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra al pasar el cursor */
}


.column {
    background-color: #f9f9f9d5;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 5px;
}

.column h3 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 1px;
}

#column_toDo {
    background-color: lightgray;
}

#column_doing {
    background-color: lightgray;
}

#column_postpose {
    background-color: lightgray;
}

#column_done {
    background-color: lightgray;
}

.card {
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.card:hover {
  border-color: #4682B4; /*Cambia el color a azul celeste cuando el cursor está sobre el div */
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}