body {
    background-color:#161a2d;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 250px auto 50px;
    grid-template-rows: 100px 85vh auto;
    grid-template-areas: 
        "header header header"
        "menu main main"
        "footer footer footer";
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header { 
    grid-area: header;
    background-color:#161a2d;       
    transition: box-shadow 0.3s ease; /* Transición suave */ 
    border: 1px solid whitesmoke;
    transition: border 0.5s ease-in-out;
}

.menu{ 
    grid-area: menu; 
    background-color:#161a2d;       
    border: 1px solid whitesmoke;
    transition: border 0.5s ease-in-out;
   
}


.main { 
    grid-area: main; 
    background-color:#1e223b; 
    display: flex;
    flex-wrap: nowrap; /* Distribucion de los items en filas o columnas*/
    justify-content: flex-start; /* Alineacion horizontal de los items*/
    align-items: flex-start; /* Alineacion vertical de items*/
    gap: 10px;
    padding: 10px;
    
}

.sidebar { grid-area: sidebar; 
    background-color:#161a2d;
}

.footer { grid-area: footer; 
    background-color:#161a2d;
    border: 1px solid whitesmoke;
    border-radius: 0px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #e0e0e0;
}

