body {
    background-color: #343a40;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #e0e0e0;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column {
    width: 22%;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .column {
        width: 100%;
    }
}

.column h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

#column_toDo {
    background-color: lightgray;
}

#column_doing {
    background-color: lightgray;
}

#column_postpose {
    background-color: lightgray;
}

#column_done {
    background-color: lightgray;
}

.card {
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}
