<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
    <!-- Custom CSS -->
    <link href="css/grid_layout_styles.css" rel="stylesheet">
    <link href="css/elements_styles.css" rel="stylesheet">
    <link href="css/buttons_styles.css" rel="stylesheet">
    <link href="css/popup_styles.css" rel="stylesheet">
	<!-- Custom JS -->
    <script defer src="scripts/load_enviroment_vars.js"></script>
    <script defer src="scripts/todo_api_rest.js"></script>
	<script defer src="scripts/task_handler.js"></script>
    <script defer src="scripts/toggle_cards_descriptions.js"></script>
    <script src="scripts/edit_task_pop_up.js"></script>
    <script src="scripts/delete_task_pop_up.js"></script>
    <script src="scripts/add_task_pop_up.js"></script>
    <script src="scripts/task_CRUD_local.js"></script>

<body>
	<div class="container"> 
        <div class="title_box">
            <div class="title">TaskManager</div>
        </div>
            
        <div class="hvar">
            <div class="menu_element">Item 1</div>
            <div class="menu_element">Item 2</div>
            <div class="menu_element">Item 3</div>
            <div class="menu_element">Item 4</div>
            <div class="menu_element">Item 5</div>
        </div>

        <div class="user_box">
            <div id="user_workspace">xxxx Workspace</div>
        </div>

        <div class="header">
            <div class="subtitle">To-Do List</div>
        </div>

        <div class="menu">
            <div class="menu_element">Menu</div>
            <div class="menu_element">Tareas</div>
            <div class="menu_element">Cronograma</div>
        </div>

        <div class="main" id="main_grid">
            <div class="column" id= "column_toDo">
                <h3>To Do</h3>
		        <div id="toDo"></div>
                <button class="btn_add_task" id="add_pending_task">Add task</button>
            </div>
				
            <div class="column" id= "column_doing">
                <h3>Doing</h3>
                <div id="doing"></div>
                <button class="btn_add_task" id="add_doing_task">Add task</button>
            </div>
				
            <div class="column" id= "column_postpose">
                <h3>Blocked</h3>
                <div id="postpose"></div>
                <button class="btn_add_task" id="add_blocked_task">Add task</button>
            </div>
				
            <div class="column" id= "column_done">
                <h3>Done</h3>
                <div id="done"></div>
                <button class="btn_add_task" id="add_done_task">Add task</button>
            </div>
        </div>

        <div class="footer"></div>
    </div>
</body>
</html>
