<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">
	<!-- Custom JS -->
	<script defer src="scripts/task_handler.js"></script>
</head>
<body>
    <body>
	
	<div id="taskContainer"></div>
	
	
        <div class="container">
            <div class="title">To-Do List</div>
            <div class="columns">
			
                <div class="column" id= "column_toDo">
                    <h3>To Do</h3>
					<div id="toDo"></div>
                </div>
				
                <div class="column" id= "column_doing">
                    <h3>Doing</h3>
                    <div id="doing"></div>
                </div>
				
                <div class="column" id= "column_postpose">
                    <h3>Postpose</h3>
                    <div id="postpose"></div>
                </div>
				
                <div class="column" id= "column_done">
                    <h3>Done</h3>
                    <div id="done"></div>
                </div>
				
            </div>
        </div>
    </body>

</body>
</html>
