<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <body>
        <div class="container">
            <div class="title">To-Do List</div>
            <div class="columns">
                <div class="column">
                    <h3>To Do</h3>
                    <div class="card">Tarea 1</div>
                    <div class="card">Tarea 2</div>
                </div>
                <div class="column">
                    <h3>Doing</h3>
                    <div class="card">Tarea 3</div>
                </div>
                <div class="column">
                    <h3>Postpone</h3>
                    <div class="card">Tarea 4</div>
                </div>
                <div class="column">
                    <h3>Done</h3>
                    <div class="card">Tarea 5</div>
                </div>
            </div>
        </div>
    </body>

</body>
</html>
